* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background: linear-gradient(to right, rgba(76, 175, 80, 0.8), rgba(129, 199, 132, 0.8));
    color: white;
    padding: 80px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.5em;
}

.cta-button {
    background-color: #fff;
    color: #4CAF50;
    padding: 15px 30px;
}

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.about-section,
.services-section,
.projects-section,
.testimonials-section,
.contact-section {
   padding: 60px 0; 
   text-align: center; 
}

.service-cards {
   display: flex; 
   justify-content: space-around; 
}

.card {
   background-color: #f9f9f9; 
   border-radius: 10px; 
   box-shadow: 0 4px 20px rgba(0,0,0,0.1); 
   padding: 30px; 
   width: 30%; 
   text-align: center; 
}

.card h3 {
   margin-top: 15px; 
}

/* Project Cards */
.project-card {
   margin-bottom: 20px; 
}

.project-card img {
   width: 100%; 
   border-radius: 10px; 
}

footer {
   background-color: #333; 
   color: white; 
   text-align: center; 
   padding: 40px 0; 
}
